<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="container pt-5">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1>Create a new Todo</h1>
                    </div>
                    <div class="card-body">
                        <form action="create" method="POST">
                            <div class="form-group">
                                <input type="text" name="todoTitle" placeholder="Enter todo title" class="form-control">
                            </div>
                            <div class="form-group">
                                <textarea name="todoDesc" rows="3" cols="54" placeholder="Enter description for your todo" class="form-group mt-2"></textarea>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" style="width: 40%;" class="btn btn-success mt-2">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>